<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>0.7.1</string>
	<key>CFBundleVersion</key>
	<string>20</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>QLIsDataBasedPreview</key>
			<false/>
			<key>QLSupportedContentTypes</key>
			<array>
				<string>io.github.linzh0632.spacelens.sample</string>
				<string>io.github.linzh0632.spacelens.preview.markdown</string>
				<string>io.github.linzh0632.spacelens.preview.source-configuration</string>
				<string>io.github.linzh0632.spacelens.preview.structured-text</string>
				<string>io.github.linzh0632.spacelens.preview.delimited-table</string>
				<string>io.github.linzh0632.spacelens.preview.plain-text</string>
				<string>public.folder</string>
				<string>public.zip-archive</string>
				<string>public.plain-text</string>
				<string>net.daringfireball.markdown</string>
				<string>public.swift-source</string>
				<string>public.bash-script</string>
				<string>public.c-source</string>
				<string>public.c-plus-plus-source</string>
				<string>public.c-header</string>
				<string>public.c-plus-plus-header</string>
				<string>public.objective-c-source</string>
				<string>public.objective-c-plus-plus-source</string>
				<string>public.css</string>
				<string>public.patch-file</string>
				<string>public.html</string>
				<string>com.sun.java-source</string>
				<string>com.netscape.javascript-source</string>
				<string>org.tug.lua</string>
				<string>public.php-script</string>
				<string>public.python-script</string>
				<string>public.ruby-script</string>
				<string>public.shell-script</string>
				<string>public.toml</string>
				<string>com.microsoft.typescript</string>
				<string>public.make-source</string>
				<string>public.assembly-source</string>
				<string>public.fortran-source</string>
				<string>public.fortran-90-source</string>
				<string>public.fortran-95-source</string>
				<string>org.codehaus.groovy-source</string>
				<string>org.haskell.haskell-source</string>
				<string>com.unknown.lhs</string>
				<string>org.ocaml.ocaml-source</string>
				<string>public.protobuf-source</string>
				<string>com.looq.xml</string>
				<string>public.xml</string>
				<string>public.yaml</string>
				<string>public.zsh-script</string>
				<string>com.apple.log</string>
				<string>public.json</string>
				<string>public.ndjson</string>
				<string>public.comma-separated-values-text</string>
				<string>public.tab-separated-values-text</string>
				<string>io.github.linzh0632.spacelens.preview.archive</string>
				<string>public.tar-archive</string>
				<string>org.gnu.gnu-zip-tar-archive</string>
				<string>public.tar-bzip2-archive</string>
				<string>org.tukaani.tar-xz-archive</string>
				<string>org.gnu.gnu-zip-archive</string>
				<string>public.bzip2-archive</string>
				<string>org.tukaani.xz-archive</string>
				<string>io.github.linzh0632.spacelens.preview.sqlite</string>
				<string>com.apple.property-list</string>
				<string>com.apple.xml-property-list</string>
				<string>com.apple.binary-property-list</string>
				<string>org.sqlite.sqlite3</string>
				<string>org.sqlite.database</string>
				<string>io.github.linzh0632.spacelens.preview.technical-document</string>
				<string>io.github.linzh0632.spacelens.preview.jupyter-notebook</string>
				<string>com.unknown.adoc</string>
				<string>org.tug.tex</string>
				<string>io.github.linzh0632.spacelens.preview.text-diagram</string>
				<string>io.github.linzh0632.spacelens.preview.drawio</string>
				<string>com.jgraph.drawio.diagram</string>
				<string>io.github.linzh0632.spacelens.parquet</string>
				<string>io.github.linzh0632.spacelens.arrow-ipc</string>
				<string>io.github.linzh0632.spacelens.feather</string>
				<string>io.github.linzh0632.spacelens.avro</string>
			</array>
			<key>QLSupportsSearchableItems</key>
			<false/>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.quicklook.preview</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).PreviewViewController</string>
	</dict>
</dict>
</plist>
